.download-icon-list {

    h2 {
        padding-bottom: 1rem;
        margin-bottom: 3rem;
        border-bottom: 3px solid var(--col-simco-gold);
    }

    &__item-icon {
        width: 30px;
        height: 30px;
    }
    &__item-title {
        text-wrap: pretty;
        font-size: var(--fs-small);
    }
}