.page-hero {
    height: 500px;
    &--short {
        height: 350px;
    }
    position: relative;
    overflow: hidden;
    isolation: isolate;

    color: var(--col-white);

    &__background {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -2;
        animation: gentle-scale 5s ease-out forwards;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_2' data-name='Layer 2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 508 653.5'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fff; %7D .cls-2 %7B fill: %2347658d; %7D .cls-3 %7B fill: none; %7D .cls-4 %7B fill: %23ab965f; %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='cls-2' points='508 153.82 506.2 157.27 388.5 383.25 309.78 232.12 188.88 0 508 0 508 153.82'/%3E%3Cpath class='cls-4' d='M74.48,511l74.48,142.5H0l74.48-142.5Z'/%3E%3Cpolygon class='cls-1' points='508 160.71 508 653.5 90.18 653.5 90.5 652.89 119.38 597.48 309.78 232.12 427.5 6.25 506.2 157.27 508 160.71'/%3E%3Crect class='cls-3' width='508' height='653.5'/%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: right;
        background-size: auto 100%;
        opacity: 0.8;
        z-index: -1;
    }

    &__pretitle {
        font-size: var(--fs-h3);
        margin-bottom: 0.5rem;
    }
    &__title {
        font-size: var(--fs-h1-big-page-title);
    }
    &__content {
        font-size: var(--fs-h2-page-subtitle);
    }
}

@keyframes gentle-scale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

