.mailing-list {
    background-color: #D1BA7F; // var(--col-simco-gold);
    background-image: url("data:image/svg+xml,%3Csvg width='1136' height='725' viewBox='0 0 1136 725' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-2 0H1136L777.938 725H-2V0Z' fill='%23DDD5BF'/%3E%3C/svg%3E%0A");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: contain;

    &__content {
        font-size: var(--fs-lead-in);
    }
}