.hub-team-filter {
    .form-control,
    .form-select {
      border-radius: 100vw;
      background-color: var(--col-light-gold);
      border-color: var(--col-mid-gold);
    }
    #team-filter-reset {
      padding-block: 0.6rem;
    }
}