.testimonial-slider {

    min-height: 600px;
    display: flex;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    isolation: isolate;
    &__background {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -2;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml,%3Csvg width='1246' height='742' viewBox='0 0 1246 742' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.9' d='M0 0H1246L853.956 742H0V0Z' fill='%23C8B893'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center left;
        background-size: cover;
        opacity: 1;
        z-index: -1;
        @media (min-width: 768px) {
            max-width: 70svw;
            background-position: center right;
        }
    }

    &__quote {
        font-size: var(--fs-body-medium);
        font-weight: var(--fw-regular);
    }

    .carousel {
        position: relative;
        min-height: 400px;
        height: 100%;
        padding-bottom: 60px;
        display: flex;
        flex-direction: column;
    }

    .carousel-inner {
        flex: 1;
        display: flex;
        align-items: flex-start;
        padding-bottom: 2rem;
    }

    .carousel-item {
        min-height: 350px;
        display: flex;
        align-items: flex-start;
        opacity: 0;
        transition: opacity 0.6s ease-in-out 0.3s;
        pointer-events: none;
    }

    .carousel-item.active {
        opacity: 1;
        z-index: 1;
        transition-delay: 0s;
        pointer-events: auto;
    }

    .carousel-indicators {
        position: absolute !important;
        bottom: 0 !important;
        margin-bottom: 0 !important;
        margin-left: 0 !important;
        justify-content: start !important;

        button {
            background-color: var(--col-white);
            opacity: 0.7;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: none;
            margin: 0 4px;

            &.active {
                background-color: var(--col-black);
                opacity: 1;
            }
        }
    }
}