.simcap-contact {
    background-color: #9a2634; // var(--col-simco-red);
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1680 1031.25'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %239a2634; %7D .cls-2 %7B fill: %23ddb9b5; %7D .cls-3 %7B fill: none; %7D .cls-4 %7B fill: %23ba736c; %7D %3C/style%3E%3C/defs%3E%3Crect class='cls-3' width='1680' height='1031'/%3E%3Crect class='cls-1' width='1680' height='1031'/%3E%3Cpolygon class='cls-4' points='393.21 1031.25 393.33 1031 0 1031 0 798.24 192.5 413 447.24 922.81 501.3 1031 501.43 1031.25 393.21 1031.25'/%3E%3Cpolygon class='cls-2' points='589.79 1031.25 393.21 1031.25 393.33 1031 447.24 922.81 491.5 834 589.67 1031 589.79 1031.25'/%3E%3C/svg%3E");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: contain;

    &__content {
        font-size: var(--fs-large-text-on-image);
        color: var(--col-white);
    }
    .gform_wrapper.gravity-theme .gfield.gfield--width-full {
        color: var(--col-white);
    }
    .ginput_container.ginput_container_checkbox {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    .gform_wrapper.gravity-theme.gfield-choice-input+label {
        color: var(--col-white);
    }
}