.icon-accordion-block {
    .accordion-item {
        border: none;
    }
    .accordion-button {
        padding: 1rem;
        font-size: var(--fs-h3);
        font-weight: var(--fw-bold);
        color: var(--col-dark-gold);
        background-color: transparent;
        display: flex;
        gap: 2rem;
        border-bottom: 1px solid var(--col-simco-gold);
        transition: background-color var(--transition);
        img {
            width: 90px;
            height: 90px;
        }
        &[aria-expanded="true"] {
            border-bottom: none;
        }
        &:hover {
            background-color: var(--col-lightest-gold);
        }
        &:not(.collapsed) {
            box-shadow: none;
        }
    }

    .accordion-body {
        padding-top: 0;
        border-top: none;
        border-bottom: 5px solid var(--col-simco-gold);
        transition: border-color var(--transition);
        &__inner {
            margin-bottom: 1rem;
            border-left: 10px solid var(--col-light-gold);
            background-color: var(--col-lightest-gold);
            padding: 3rem;
            margin-top: 1rem;
            @media (min-width: 992px) {
                margin-top: 0;
                margin-left: 100px;
            }
        }
    }

}