.link-button {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: var(--fs-body);

    &::after {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6z'/%3E%3C/svg%3E");
        color: var(--col-white);
        font-size: 1.4rem;
        display: grid;
        place-content: center;
        position: relative;
        margin-inline-start: 1rem;
        width: 40px;
        height: 40px;
        z-index: -1;
        background-color: var(--col-dark-grey);
        transition: background-color var(--transition);
    }

    &:hover {
        text-decoration: none;
        &::after {
            background-color: var(--col-simco-red);
        }
    }
}