.icon-text-image {
    .container {
        padding-inline: 0 !important;
    }
    
    &__icon {
        width: 90px;
        height: 90px;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}