.full-width {
    .container[class*="has-"][class*="-background-color"] {
        padding-inline: 0 !important;
    }
    
    &__icon {
        width: 90px;
        height: 90px;
        margin-bottom: 1rem;
        @media (min-width:992px) {
            margin-bottom: 0;
        }
    }

}
