.stat_spinner {
    background-color: var(--col-simco-gold);
    color: var(--col-black);
	
	&__grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 2rem;
	}

	&__item {
		display: flex;
        flex-direction: column;
        justify-content: center;
		flex: 1 1 calc(33.333% - 2rem); // 3 items per row
		min-width: 150px; // Ensures readability on small screens
		max-width: 300px; // Prevents items getting too wide
		
		@media (max-width: 991px) {
			flex: 1 1 calc(33.333% - 2rem); // 3 items per row on tablets
		}
		
		@media (max-width: 575px) {
			flex: 1 1 calc(50% - 2rem); // 2 items per row on mobile
		}
	}

	&__stat {
		font-size: var(--fs-ticker);
        font-weight: var(--fw-bold);
        line-height: 1;
        display: flex;
        justify-content: center;
	}

	&__label {
        text-align: center;
		font-weight: var(--fw-medium);
	}
}