.mailing-list {
    background-color: #D1BA7F; // var(--col-simco-gold);
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_2' data-name='Layer 2' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 596.23 617.25'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %2347658d; %7D .cls-2 %7B fill: none; %7D .cls-3 %7B fill: %23f3e9cd; %7D .cls-4 %7B clip-path: url(%23clippath); %7D %3C/style%3E%3CclipPath id='clippath'%3E%3Crect class='cls-2' width='596.23' height='617.25'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cg class='cls-4'%3E%3Cg%3E%3Cpath class='cls-3' d='M287.81,0l314.8,630H-26.99L287.81,0Z'/%3E%3Cpath class='cls-1' d='M37.81,420l98.29,197.25H-60.49l98.29-197.25Z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: contain;

    &__content {
        font-size: var(--fs-large-text-on-image);
    }
}