.quiz-holder {
    background-color: var(--col-mid-gold);
    isolation: isolate;
    position: relative;
    overflow: hidden;
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: url("data:image/svg+xml,%3Csvg width='1454' height='634' viewBox='0 0 1454 634' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H1454L1162 634H0V0Z' fill='%23DDD5BF'/%3E%3C/svg%3E%0A");
        background-position: center left;
        background-repeat: no-repeat;
        background-size: cover;
        @media (min-width: 768px) {
            background-position: center right;
            max-width: 80svw;
        }
    }
}