.three-col-link-cards {
    &__card {
        text-decoration: none;
        height: 100%;
        display: flex;
        flex-direction: column;
        &:hover {
            text-decoration: none;
            .read-more:after,
            .read-more:focus:after {
                margin-left: 0.75rem;
            }
        }
    }
    &__card-image {
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
        object-fit: contain;
        margin-bottom: 0.5rem;
    }
    &__card-body {
        h3 {
            font-size: var(--fs-lead-in);
            font-weight: var(--fw-semi);
            line-height: var(--lh-lead-in);
            text-wrap: balance;
        }
    }
    .read-more {
        position: relative;
        padding-right: 1.5rem;
        text-decoration: none;
        display: inline-block;
        &:after {
            content: "\f061"; // FontAwesome angle right
            font-family: var(--ff-fa);
            font-weight: 600;
            top: 5px;
            margin-left: 0.5rem;
            transition: margin var(--transition);
        }
    }

}