.awards {
    background-color: var(--col-white);

    &__item {
        display: grid;
        grid-template-rows: 200px auto auto;
        align-items: center;
        text-decoration: none;

        img {
            max-height: 200px;
            max-width: 100%;
            object-fit: contain;
            margin-inline: auto;
        }

        &:hover {
            text-decoration: none;
        }
    }
}