.accordion-block {

    h2 {
        padding-bottom: 1rem;
        margin-bottom: 3rem;
        border-bottom: 3px solid var(--col-simco-gold);
    }

    .accordion-item {
        border: none;
        border-bottom: 3px solid var(--col-simco-gold);
    }
    
    .accordion-button {
        padding: 1rem;
        font-size: var(--fs-h3);
        font-weight: var(--fw-regular);
        color: var(--col-simco-navy);
        background-color: transparent;
        display: flex;
        gap: 2rem;
        transition: background-color var(--transition), color var(--transition), font-weight var(--transition);
        cursor: pointer;
        border: none;
        width: 100%;
        text-align: left;
        
        &:hover {
            background-color: var(--col-lightest-gold);
        }
    }
    
    .accordion-content {
        max-height: 0;
        overflow: hidden;
        transition: none;
        
        &.is-open {
            max-height: none;
        }
    }
    
    .accordion-item:has(.is-open) .accordion-button {
        font-weight: var(--fw-bold);
        color: var(--col-dark-gold);
    }

    .accordion-body {
        padding: 0;
        border-top: none;
        
        &__inner {
            margin-bottom: 1rem;
            border-left:  10px solid var(--col-light-gold);
            background-color: var(--col-lightest-gold);
            padding: 2rem 3rem;
        }
    }
}