.simcap-contact {
    background-color: #BA736C; // var(--col-simco-red);
    background-image: url("data:image/svg+xml,%3Csvg width='1138' height='770' viewBox='0 0 1138 770' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H1138L779.938 770H0V0Z' fill='%239A2634'/%3E%3C/svg%3E%0A");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: contain;

    &__content {
        font-size: var(--fs-lead-in);
        color: var(--col-white);
    }
    .gform_wrapper.gravity-theme .gfield.gfield--width-full {
        color: var(--col-white);
    }
    .ginput_container.ginput_container_checkbox {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    .gform_wrapper.gravity-theme.gfield-choice-input+label {
        color: var(--col-white);
    }
}