.insights-pushthrough {
    min-height: 500px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    isolation: isolate;
    &__background {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -2;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--col-white);
        background-repeat: no-repeat;
        background-position: center left;
        background-size: contain;
        opacity: 0.7;
        z-index: -1;
    }
}