.three-col-image-cards {
    &__card {
        width: 100%;
        height: 100%;

    }
    &__card-image {
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        margin-bottom: 0.5rem;
    }
    &__card-body {
        padding-inline: 1rem;
        font-family: var(--ff-body);
        font-size: var(--fs-lead-in);
        line-height: var(--lh-lead-in);
        font-weight: var(--fw-lead-in);
        text-wrap: balance;
    }

}