.fund-info {
    min-width: 300px;
    margin-inline: auto;
    text-align: center;
    background-color: var(--col-light-grey);
    border-top: 8px solid var(--col-simco-gold);
    padding: 2rem 1.5rem 2rem 1.5rem;
    display: flex;
    justify-self: center;
    align-self: flex-start;
    flex-direction: column;
    gap: 1rem;

    &__title {
        font-size: var(--fs-h3);
        font-weight: 600;
        color: var(--col-simco-navy);
    }
    &__value {
        font-size: var(--fs-ticker);
        font-weight: 700;
        color: var(--col-simco-mid-blue);
        line-height: 1;
    }
    &__after {
        font-size: var(--fs-small);
        color: var(--col-grey-700);
    }
}