.fund-info {

    &__title {
        font-size: var(--fs-body-medium);
        font-weight: var(--fw-regular);
        color: var(--col-simco-navy);
    }
    &__value {
        font-size: var(--fs-ticker);
        font-weight: var(--fw-bold);
        color: var(--col-simco-navy);
        line-height: 1;
    }
    &__after {
        font-size: var(--fs-body-medium);
        color: var(--col-simco-navy);
    }

    &__image {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}