.graphic-hero {
	height: 300px;

	&--full {
		height: 300px;
	}

	&--short {
		height: 200px;
	}
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_2' data-name='Layer 2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1680 350'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23ddd5bf; %7D .cls-2 %7B fill: %23c8b893; %7D .cls-3 %7B fill: none; %7D .cls-4 %7B fill: %23152634; %7D .cls-5 %7B opacity: .85; %7D .cls-6 %7B fill: %23ab965f; %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Crect class='cls-3' width='1680' height='350'/%3E%3Cg%3E%3Crect class='cls-6' width='1680' height='350'/%3E%3Cg class='cls-5'%3E%3Cpolygon class='cls-4' points='1197 0 993.58 350 0 350 0 0 1197 0'/%3E%3Cpolygon points='1197 0 993.58 350 0 350 0 0 1197 0'/%3E%3C/g%3E%3Cpolygon class='cls-1' points='1598.61 350 1232.39 350 1415.5 0 1549.01 255.18 1598.61 350'/%3E%3Cpolygon class='cls-2' points='1680 236.16 1680 350 1499.19 350 1549.01 255.18 1619.5 121 1680 236.16'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
    h1 {
        color: var(--col-white);
    }
}