.text--right {
    @media (min-width:1200px) {
        max-width: calc(1140px / 2);
    }
    @media (min-width:1400px) {
        max-width: calc(1320px / 2);
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.text--left {
    @media (min-width:1200px) {
        max-width: calc(1140px / 2);
    }
    @media (min-width:1400px) {
        max-width: calc(1320px / 2);
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    height: 100%;
    padding-inline-end: 1rem;
}

.split {
    @media (min-width:992px) {
        display: flex;
        align-items: stretch; // This ensures both columns have equal height
    }
    &__image {
        padding-inline: 0;
        overflow: hidden;
        height: 100%;
        display: flex; // Make the image container a flex container
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @media (min-width:992px) {
                aspect-ratio: unset;
                // Remove max-height: 100vh to let text content control height
            }
        }
    }
    &__image-wrapper {
        width: 100%;
    }
}