header {
  background-color: var(--col-white);
  transition: var(--transition);

  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

  font-family: var(--ff-body);
  font-size: var(--fs-base);
  line-height: var(--lh-body);

  .navbar-toggler {
    i {
      color: var(--col-simco-red);
    }
  }

  .navbar-nav {
    margin-block: 0;
  }

  a,
  a.nav-link {
    font-family: var(--ff-body);
    font-size: var(--fs-base);
    line-height: var(--lh-body);
    color: var(--col-black);
    transition: var(--transition);
    display: inline-block;
    text-decoration: none;
    padding: 0;
    position: relative;
    
    // Only show focus outline for keyboard navigation
    &:focus {
      outline: none;
    }
    
    &:focus-visible {
      outline: 2px solid var(--col-simco-gold);
      outline-offset: 4px;
    }
    
    // @media (min-width: 992px) {
    //   &:hover {
    //     color: var(--col-accent-400);
    //     text-decoration: none;
    //   }
    // }
    // &:focus {
    //   color: var(--col-accent-400);
    //   text-decoration: none;
    // }
    &:before {
      content: "";
      position: absolute;
      bottom: -0.5rem;
      left: 0;
      width: 0;
      height: 3px;
      background: transparent;
    }
  }

  .logo-container {
    max-width: 240px;
    margin-right: 1rem;
  }
  .logo {
    background-image: url(../img/simco-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    aspect-ratio: 964 / 243;
    width: 200px;
    height: 50px;
    max-width: 100%;
  }

  .current_page_item > .nav-link,
  .current_page_parent > .nav-link,
  .current-menu-ancestor > .nav-link,
  .current-menu-parent > .nav-link,
  .dropdown.current-page-ancestor > .nav-link,
  .dropdown.current-menu-item > .nav-link {
    &:before {
      width: 100%;
      background: var(--col-simco-gold);
    }
  }

  @media (max-width: 991px) {
    .navbar-collapse {
      min-height: 100svh;
      /* Do not set display:flex or height, let Bootstrap animate */
    }
    .navbar-nav {
      width: 100%;
      padding-bottom: 2rem;
    }
    .nav-link,
    .navbar-nav .nav-link {
      font-size: var(--fs-base);
      padding: 1rem 0;
    }
    .dropdown-item {
      font-size: var(--fs-base);
    }

    .fs-subtle a {
      font-size: var(--fs-base);
    }
  }

  // Override Bootstrap dropdown arrow with Font Awesome icon
  .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.5rem;
    vertical-align: middle;
    content: "\f107"; // Font Awesome angle-down icon
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    border: none;
  }
  
  .dropdown-toggle {
    // Remove focus styles on click
    &:focus {
      outline: none;
      box-shadow: none !important;
    }
    
    // Only show outline for keyboard navigation
    &:focus-visible {
      outline: 2px solid var(--col-simco-gold);
      outline-offset: 4px;
      box-shadow: none !important;
    }
  }

  // Custom dropdown menu styling
  @media (min-width: 992px) {
    .dropdown {
      position: static;
    }

    .dropdown-menu[data-bs-popper] {
      margin-top: 0;
    }

    .dropdown-menu {
      background-color: var(--col-simco-gold);
      border: none;
      border-radius: 0;
      padding: 0 15px;
      margin-top: 0;
      width: 100vw;
      position: absolute;
      left: 0;
      right: 0;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      
      // Ensure dropdowns start hidden
      display: none;
      
      &.show {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        padding-block: 0;
      }
      
      // Constrain content like Bootstrap container
      @media (min-width: 1400px) {
        padding-left: calc((100vw - 1320px) / 2);
        padding-right: calc((100vw - 1320px) / 2);
      }
    }

    .dropdown-item {
      padding: 0.5rem 1rem;
      color: var(--col-black);
      background-color: transparent;
      border: none;
      font-family: var(--ff-body);
      font-size: var(--fs-base);
      line-height: var(--lh-body);
      white-space: nowrap;
      flex: 0 0 auto;
      
      &:hover,
      &:focus-visible {
        background-color: rgba(255, 255, 255, 0.15);
        color: var(--col-black);
        text-decoration: none;
      }
    }

    // Triangle indicator positioned above parent
    .dropdown-toggle {
      position: relative;
      
      &[aria-expanded="true"]::before {
        content: "";
        position: absolute;
        bottom: -1.5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid var(--col-simco-gold);
        z-index: 1001;
      }
    }
  }
}
