.index-filters {
    .form-control,
    .form-select {
      border-radius: 100vw;
      background-color: var(--col-light-gold);
      border-color: var(--col-mid-gold);
    }
    .form-control::placeholder {
      color: var(--col-simco-navy);
      opacity: 1; // override default opacity
    }
}
.latest-insights,
.latest_posts {
    &__item {
        text-decoration: none;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    &__img-wrapper {
        position: relative;
        aspect-ratio: 488.6 / 267.73;
        overflow: hidden;
        width: 100%;
        isolation: isolate;
        border: 1px solid var(--col-light-gold);
        img {
            position: absolute;
            inset: 0;
            object-fit: cover;
            z-index: 1;
            width: 100%;
            height: 100%;
        }
    }
    h3 {
        font-size: var(--fs-h5);
        font-weight: var(--fw-bold);
        margin-bottom: 1.5rem;
    }
}

.read-more {
    margin-top: auto;
    font-size: var(--fs-lead-in);
    position: relative;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    &:before {
        content: '';
        display: inline-block;
        position: relative;
        width: 36px;
        height: 36px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    &.news:before,
    &.research:before,
    &.research-text:before {
        background-image: url('../img/icon-read-now.svg');
    }
    &.video:before {
        background-image: url('../img/icon-play-now.svg');
    }
    &.interview:before,
    &.podcast:before {
        background-image: url('../img/icon-podcast.svg');
    }
}

.category {
    color: var(--col-simco-navy);
    padding: 0.5rem 0;
    font-size: var(--fs-body);
    font-weight: var(--fw-light);
}

.single {

    a.left-arrow {
        color: var(--col-dark-gold);
        position: relative;
        padding-left: 1.5rem;
        text-decoration: none;
        &::before {
            content: '';
            display: inline-block;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%) rotate(180deg);
            width: 23px;
            height: 23px;
            background-color: var(--col-dark-gold);
            mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
            mask-repeat: no-repeat;
            mask-position: center;
            mask-size: contain;
        }
        &:hover {
            text-decoration: underline;
        }
    }

    .category-title {
        font-size: var(--fs-h5);
        font-weight: var(--fw-bold);
        padding-bottom: 0.5rem;
        border-bottom: 2px solid var(--col-simco-gold);
    }
}

.post-navigation{
    margin-block: 3rem 5rem;
    .nav-links {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-between;
    }
}
.related-posts {
    border-top: 2px solid var(--col-simco-gold);
}