.index-filters {
    .form-control,
    .form-select {
      border-radius: 100vw;
      background-color: var(--col-light-gold);
      border-color: var(--col-mid-gold);
    }
}
.latest-insights,
.latest_posts {
    &__item {
        text-decoration: none;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    &__img-wrapper {
        position: relative;
        aspect-ratio: 488.6 / 267.73;
        overflow: hidden;
        width: 100%;
        isolation: isolate;
        border: 1px solid var(--col-light-gold);
        img {
            position: absolute;
            inset: 0;
            object-fit: cover;
            z-index: 1;
            width: 100%;
            height: 100%;
        }
    }
    h3 {
        font-size: var(--fs-h5);
        font-weight: var(--fw-bold);
        margin-bottom: 1.5rem;
    }
    .read-more {
        margin-top: auto;
        font-size: var(--fs-lead-in);
        position: relative;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        &:before {
            content: '';
            display: inline-block;
            position: relative;
            width: 36px;
            height: 36px;
            background-size: contain;
            background-repeat: no-repeat;
        }
        &.research:before,
        &.research-text:before {
            background-image: url('../img/icon-read-now.svg');
        }
        &.video:before {
            background-image: url('../img/icon-play-now.svg');
        }
        &.podcast:before {
            background-image: url('../img/icon-podcast.svg');
        }
    }
}

.category {
    color: var(--col-simco-navy);
    padding: 0.5rem 0;
    font-size: var(--fs-body);
    font-weight: var(--fw-light);
}

.single {
    .category {
        font-size: var(--fs-h5);
        font-weight: var(--fw-bold);
        padding-bottom: 0.5rem;
        border-bottom: 2px solid var(--col-simco-gold);
    }
}

.post-navigation{
    margin-block: 3rem 5rem;
    .nav-links {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-between;
    }
}
.related-posts {
    border-top: 2px solid var(--col-simco-gold);
}