.latest-insights,
.latest_posts {
    &__item {
        background-color: #F5F5F5;
        text-decoration: none;
        height: 100%;
        display: flex;
        flex-direction: column;
        &:hover {
            text-decoration: none;
            .read-more:after,
            .read-more:focus:after {
                transform: translateY(-50%) translateX(5px);
            }
        }
    }
    &__img-wrapper {
        position: relative;
        aspect-ratio: 488.6 / 267.73;
        overflow: hidden;
        width: 100%;
        isolation: isolate;
        .category {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
        }
        img {
            position: absolute;
            inset: 0;
            object-fit: cover;
            z-index: 1;
            width: 100%;
            height: 100%;
        }
    }
    &__inner {
        padding: 1rem;
        h3 {
            font-size: var(--fs-h3);
            font-weight: var(--fw-bold);
            margin-bottom: 0.5rem;
        }
    }
    .read-more {
        margin-top: auto;
        font-size: var(--fs-lead-in);
        position: relative;
        padding: 0.5rem 1.5rem 1rem 1rem;
        text-decoration: none;
        display: inline-block;
        align-self: flex-start;
        &:after {
            content: "\f105"; // FontAwesome angle right
            font-family: "Font Awesome 6 Free";
            font-weight: 900;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: var(--transition);
        }
    }   
}

.category {
    color: var(--col-white);
    padding: 0.5rem 1rem;
    font-size: var(--fs-small);
    font-weight: var(--fw-bold);
    display: inline-block;
    min-width: 50%;
    &.research,
    &.research-text {
        background-color: #BA736C;
    }
    &.case-study {
        background-color: var(--col-simco-gold);
    }
    &.video {
        background-color: #178447;
    }
    &.podcast {
        background-color: #1582C0;
    }
    &.news {
        background-color: #152634;
    }
    &.interview {
        background-color: #47658D;
    }
}


.post-navigation{
    .nav-links {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-between;
        a {
            border: 1px solid var(--col-black);
            padding: 0.5rem 1.5rem;
            border-radius: 100vw;
            text-decoration: none;
            background-color: var(--col-simco-gold);
            transition: background-color var(--transition);
            &:hover {
                background-color: var(--col-simco-light-gold);
            }
        }
    }
}